<h1>Private Key</h1>
<a class="btn btn-primary mb-2" href="/login">Login Form</a>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">UserId</th>
            <th scope="col">UserToken</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
        </tr>
    </tbody>
</table>

<h1 style="margin-top: 60px; line-height: 10px;">UserTable</h1>
<table class="table table-bordered" style="margin-top: 30px; ">

    <thead class="thead-dark">
        <tr>
            <th scope="col">UserId</th>
            <th scope="col">UserName</th>
            <th scope="col">Password</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>

        </tr>
    </tbody>
</table>